<h1>index</h1>

<ul>
  <% @post.each do |post| %>
    <li>
      <% if user_signed_in? %>
      <%= post.user.email %>
      <% end %>
      <%= post.title %>
      <%= post.body %>
    </li>
  <% end %>
</ul>


